<footer class="site__footer">
  <div class="logo-list">
    <img src="{{ site.url }}/StoryMapper/assets/img/KU_Leuven_logo.png" title="KU Leuven"/>
    <img src="{{ site.url }}/StoryMapper/assets/img/rxd_logo_new-01.png" title="Research [x] Design"/>
  </div>
  <ul id="legal-notes" class="navigation navigation--meta" role="navigation">
    <li><a href="{{ site.url }}/StoryMapper/en/legal-disclosure.html">Legal Disclosure</a></li>
    <li><a href="{{ site.url }}/StoryMapper/en/privacy-policy.html">Privacy Policy</a></li>
  </ul>
</footer>
