<meta charset="utf-8" />

<title>{{ page.title }}</title>
<meta name="description" content="{{ page.description }}Dedicated to create and share visual stories for collaborative community mapping and sense-making. Start a story and share your ideas.">
<meta name="viewport" content="width=device-width, initial-scale=1" />

<meta property="og:title" content="{{ page.title }}">
<meta property="og:description" content="{{ page.description }}">
<meta property="og:type" content="website">
<meta property="og:url" content="https://paul5000.github.io/StoryMapper/">
<meta property="og:image" content="assets/img/tile-wide.png">

<link rel="manifest" href="assets/site.webmanifest">
<link rel="apple-touch-icon" href="assets/img/icon.png">

<link rel="stylesheet" href="assets/css/style.css" />
<meta name="theme-color" content="#ffcf31">
