<!doctype html>
<html lang="nl">

<head>
  {% include head.html %}
</head>

<body>

  <div class="site site--dark site--story-form">
    {% include header.html %}

    <main class="site__content">

      <div id="report-form" class="form" data-steps>

        <section class="card">
          <header class="card__header">
            <h1 class="card__title">Neem een foto van je tekening voor de door jou gekozen achtergrond om je ideeën te delen.</h1>
          </header>
          <div class="card__content">
            <div class="camera__frame" data-webcam>
              <video id="camera-1" class="camera__view" autoplay playsinline poster="/assets/img/no_camera.png"></video>
              <div class="camera__actions">
                <button class="button button--primary" data-step-trigger="step-2" data-take-picture='{"sourceId": "camera-1", "destinationId": "camera-picture"}'>Neem Foto</button>
              </div>
            </div>
          </div>
        </section>

        <section class="card">
          <header class="card__header">
            <h1 class="card__title">Add some details to your story to let us know what's going on.</h1>
          </header>
          <div class="card__content">
            <div class="camera__frame">
              <img id="camera-picture" src="/assets/img/no_camera.png" alt="your picture" />
            </div>
            <div class="form__field">
              <textarea class="form-control" id="user-story" rows="5" placeholder="Geef wat meer uitleg bij je tekening..."></textarea>
            </div>
          </div>
          <footer class="card__footer">
            <button class="button" data-step-trigger="step-1">Neem je foto opnieuw</button>
            <button class="button button--primary"  data-step-trigger="step-3">Verstuur je visie</button>
          </footer>
        </section>

        <section class="card">
          <header class="card__header">
            <h1 class="card__title">Help ons je beter te leren kennen.</h1>
          </header>
          <div class="card__content">
            <p>Deze vragen zijn niet verplicht.
Hoe meer informatie je met ons deelt, hoe meer dit ons onderzoek helpt.</p>
            <div class="form__field">
              <label for="user-relationship" class="form__label">Wat is je relatie met deze buurt?</label>
              <select id="user-relationship" class="form__select" aria-label="Default select example">
                <option selected>Dit zeg ik liever niet </option>
                <option value="live">Ik woon hier</option>
                <option value="work">Ik werk hier</option>
                <option value="visit">Ik ben hier op bezoek</option>
                <option value="other">Ander</option>
              </select>
            </div>
            <div class="form__field">
              <label for="user-name" class="form-label">Je naam</label>
              <input type="text" id="user-name" class="form-control" placeholder="Voornaam Achternaam">
            </div>
            <div class="form__field">
              <label for="user-age" class="form-label">Je leeftijd</label>
              <input type="number" id="user-age" class="form-control" min="1" max="199" placeholder="26">
            </div>
            <div class="form__field">
              <label for="user-gender" class="form-label">Je geslacht</label>
              <select id="user-gender" class="form-select" aria-label="Default select example">
                <option selected>Dit zeg ik liever niet </option>
                <option value="female">Vrouw</option>
                <option value="male">Man</option>
                <option value="diverse">Ander</option>
              </select>
            </div>
            <div class="form__field">
              <label for="user-email" class="form-label">Je contact informatie (email of telefoonnummer)</label>
              <input type="email" id="user-email" class="form-control" placeholder="name@website.com of +34 12345678">
            </div>
            <div class="form__field">
              <label for="user-coordinates" class="form-label">Je huidige locatie</label>
              <input type="text" id="user-coordinates" class="form-control" placeholder="klik hier om te delen" readonly data-current-position>
            </div>
          </div>
          <footer class="card__footer">
            <button id="submit-report" class="button button--primary" data-step-trigger="step-4">Indienen</button>
          </footer>
        </section>

        <section class="card">
          <header class="card__header">
            <h1 class="card__title">Bedankt om deel te nemen</h1>
          </header>
          <div class="card__content">
            <p>Jouw bijdrage zal vanaf morgen te vinden zijn op de <a href="https://padlet.com/hannevrebos/zof0d2ho8ihqivtt " target="_blank">levende kaart</a>. Je kan deze opnieuw bezoeken om andere ideeën te ontdekken. Deze ideeën zullen verder besproken worden tijdens een speciaal georganiseerde Cafe Sapristi. Je kan de StoryMapper nu doorgeven aan iemand anders.</p>
          </div>
          <footer class="card__footer">
            <a class="button button" href="index.html">Terug naar start</a>
          </footer>
        </section>

      </div>

    </main>

    {% include footer.html %}
  </div>

  {% include foot.html %}
</body>

</html>
