<!doctype html>
<html lang="en">

<head>
  {% include head.html %}
</head>

<body>

  <div class="site site--dark site--story-form">
    {% include header.html %}

    <main class="site__content">

      <div id="report-form" class="form" data-steps>

        <section class="card">
          <header class="card__header">
            <h1 class="card__title">Take a picture of your drawing on the chosen background to share your ideas.</h1>
          </header>
          <div class="card__content">
            <!-- div class="camera__frame" data-webcam>
              <video id="camera-1" class="camera__view" autoplay playsinline poster="/assets/img/no_camera.png"></video>
              <div class="camera__actions">
                <button class="button button--primary" data-step-trigger="step-2" data-take-picture='{"sourceId": "camera-1", "destinationId": "camera-picture"}'>Take Picture</button>
              </div>
            </div -->
          </div>
          <footer class="card__footer">
            <button class="button button--primary" data-step-trigger="step-2">Next</button>
          </footer>
        </section>

        <section class="card">
          <header class="card__header">
            <h1 class="card__title">Add some details to your story to let us know what's going on.</h1>
          </header>
          <div class="card__content">
            <div class="camera__frame">
              <img id="camera-picture" src="/assets/img/no_camera.png" alt="your picture" />
            </div>
            <div class="form__field">
              <textarea class="form-control" id="user-story" rows="5" placeholder="Provide some context to your story..."></textarea>
            </div>
          </div>
          <footer class="card__footer">
            <button class="button" data-step-trigger="step-1">Retake the picture</button>
            <button class="button button--primary"  data-step-trigger="step-3">Send your idea</button>
          </footer>
        </section>

        <section class="card">
          <header class="card__header">
            <h1 class="card__title">Help us to get to know you better.</h1>
          </header>
          <div class="card__content">
            <p>These questions are optional. The more information you provide, the more it helps us in our research. This information is for research purposes only and will not be made public with your drawing on the living map.</p>
            <div class="form__field">
              <label for="user-relationship" class="form__label">What is your relationship to this area?</label>
              <select id="user-relationship" class="form__select" aria-label="Default select example">
                <option selected>prefer not to answer</option>
                <option value="live">I live here</option>
                <option value="work">I work here</option>
                <option value="visit">I am visiting</option>
                <option value="other">other</option>
              </select>
            </div>
            <div class="form__field">
              <label for="user-name" class="form-label">Your name</label>
              <input type="text" id="user-name" class="form-control" placeholder="Firstname Surename">
            </div>
            <div class="form__field">
              <label for="user-age" class="form-label">Your Age</label>
              <input type="number" id="user-age" class="form-control" min="1" max="199" placeholder="26">
            </div>
            <div class="form__field">
              <label for="user-gender" class="form-label">Your gender</label>
              <select id="user-gender" class="form-select" aria-label="Default select example">
                <option selected>prefer not to answer</option>
                <option value="female">female</option>
                <option value="male">male</option>
                <option value="other">other</option>
              </select>
            </div>
            <div class="form__field">
              <label for="user-email" class="form-label">Your contact information (email or phone number)</label>
              <input type="email" id="user-email" class="form-control" placeholder="name@website.com or +32 12345678">
            </div>
            <div class="form__field">
              <label for="user-coordinates" class="form-label">Your current location</label>
              <input type="text" id="user-coordinates" class="form-control" placeholder="click here to share" readonly data-current-position>
            </div>
          </div>
          <footer class="card__footer">
            <button id="submit-report" class="button button--primary" data-step-trigger="step-4">Submit</button>
          </footer>
        </section>

        <section class="card">
          <header class="card__header">
            <h1 class="card__title">Thanks for participating.</h1>
          </header>
          <div class="card__content">
            <p>Your contribution will be published tomorrow on our <a href="https://padlet.com/hannevrebos/zof0d2ho8ihqivtt " target="_blank">living map</a>. Feel free to visit the map to discover more interesting ideas. The ideas will also be discussed during an additional Café Sapristi. You can now pass the StoryMapper to someone else</p>
          </div>
          <footer class="card__footer">
            <a class="button button" href="index.html">Back to Home</a>
          </footer>
        </section>

      </div>

    </main>

    {% include footer.html %}
  </div>

  {% include foot.html %}
</body>

</html>
